{% extends "dojos_ninjas_base.html" %}
{% block titulo %}Mostrar Ninjas{% endblock %}
{% block contenido1%}Todos los Ninjas del Dojo {{nombre}}{%endblock%}

{% block contenido2 %}

         <div class="contenedor_tabla">
            <table>
                <caption>Total de Registros - {{dojos|length}}</caption>

                <thead>
                   <tr>
                      <th>Nombre</th>
                      <th>Apellido</th>
                      <th>Edad</th>
                      <th>Creado en</th>
                      <th>Ultima Modificacion</th>
                      <th colspan=2>Opciones</th>
                    </tr>
                </thead>
                <tbody>
                  {%if dojos|length > 0%}
                     {%for i in dojos%}
                      <tr>
                         <td>{{i['ninja_first_name']}}</td>
                         <td>{{i['ninja_last_name']}}</td>
                         <td>{{i['ninja_age']}}</td>
                         <td>{{i['ninja_created_at']}}</td>
                         <td>{{i['ninja_updated_at']}}</td>
                         <td><a href="/editarninja/{{i['ninja_id']}}">Editar</a></td>
                         <td><a href="/eliminarninja/{{i['ninja_id']}}" onclick="return confirm('Desea eliminar el registro?')">Borrar</a></td>
                      </tr>
                      {%endfor%}
                   {%else%}
                        <tr>
                            <td colspan=7>No hay registros para mostrar</td>
                        </tr>
                   {%endif%}
                </tbody>
            </table>
        </div>
        <div class="opciones">
           <div><a href="/insertarninja">Agregar un nuevo Ninja</a></div>
           <div><a href="/limpiar">Regresar</a></div>
        </div>
{%endblock%}