{% extends "dojos_ninjas_base.html" %}
{% block titulo %}Mostrar Ninjas{% endblock %}
{% block contenido1%}Todos los Ninjas del Dojo {{dojo.name}}{%endblock%}

{% block contenido2 %}

         <div class="contenedor_tabla">
            <table>

                <thead>
                   <tr>
                      <th>Nombre</th>
                      <th>Apellido</th>
                      <th>Edad</th>
                      <th>Creado en</th>
                      <th>Ultima Modificacion</th>
                      <th colspan=2>Opciones</th>
                    </tr>
                </thead>
                <tbody>
                  {%if dojo.ninjas[0].id != None%}
                     {%for i in dojo.ninjas%}
                      <tr>
                         <td>{{i.first_name}}</td>
                         <td>{{i.last_name}}</td>
                         <td>{{i.age}}</td>
                         <td>{{i.created_at}}</td>
                         <td>{{i.updated_at}}</td>
                         <td><a href="/editarninja/{{i.id}}">Editar</a></td>
                         <td><a href="/eliminarninja/{{i.id}}" onclick="return confirm('Desea eliminar el registro?')">Borrar</a></td>
                      </tr>
                      {%endfor%}
                   {%else%}
                        <tr>
                            <td colspan=7>No hay registros para mostrar</td>
                        </tr>
                   {%endif%}
                </tbody>
            </table>
        </div>
        <div class="opciones">
           <div><a href="/insertarninja">Agregar un nuevo Ninja</a></div>
           <div><a href="/limpiar">Regresar</a></div>
        </div>
{%endblock%}