{% extends "dojos_ninjas_base.html" %}
{% block titulo %}Mostrar Ninjas{% endblock %}
{% block contenido1%}Todos los Ninjas del Dojo {{nombre}}{%endblock%}

{% block contenido2 %}

         <div class="contenedor_tabla">
            <ul>
                <li>
                    {{dojo.id}}
                    {{dojo.name}}
                    {%if dojo.ninjas[0].id == None%}
                      id ninja None
                      {%else%}
                      id ninja no es none
                    {%endif%}
                </li>
            </ul>
        </div>
        <div class="opciones">
           <div><a href="/insertarninja">Agregar un nuevo Ninja</a></div>
           <div><a href="/limpiar">Regresar</a></div>
        </div>
{%endblock%}