{% extends "dojos_ninjas_base.html" %}
{% block titulo %}Editar Ninja{% endblock %}

{% block contenido1%}Menu Editar Ninja en Dojo{%endblock%}

{% block contenido2%}


       <div class="cuerpo_formulario">

        <form action="/actualizarninja" method="post" onsubmit="return confirm('Desea actualizar el registro del Ninja?');">

            <div>
                <div><label for="dojo_ninja">Nombre del Dojo :</label></div>
                <div>
                    <select type="text" name="dojo_ninja" id="dojo_ninja">
                        {%for i in dojos%}
                          {%if i.id == ninjas.dojo_id%}
                            <option value="{{i.id}}" selected>{{i.name}}</option>
u                          {%else%}
                            <option value="{{i.id}}">{{i.name}}</option>
                           {%endif%}
                        {%endfor%}
                    </select>
                </div>
            </div>
  
            <div>
              <div><label for="nombre_ninja">Nombre del Ninja :</label></div>
              <div><input type="hidden" name="id_ninja" value="{{ninjas.id}}"></div>
              <div><input type="text" name="nombre_ninja" required placeholder="John" value="{{ninjas.first_name}}"></div>
            </div>

            <div>
                <div><label for="apellido_ninja">Apellido del Ninja :</label></div>
                <div><input type="text" name="apellido_ninja" required placeholder="doe" value="{{ninjas.last_name}}"></div>
            </div>

            <div>
                <div><label for="edad_ninja">Edad del Ninja :</label></div>
                <div><input type="text" name="edad_ninja" required placeholder="18" value="{{ninjas.age}}"></div>
            </div>


            <div class="divboton">
                <button type="submmit">Actualizar Registro</button>
            </div>
          </form>

           </div>
        <div class="opciones">
           <div><a href="/limpiar">Regresar</a></div>
        </div>
{%endblock%}