{% extends "dojos_ninjas_base.html" %}
{% block titulo %}Insertar Ninja{% endblock %}

{% block contenido1%}Menu Insertar Ninja en Dojo{%endblock%}

{% block contenido2%}


       <div class="cuerpo_formulario">

        <form action="/crearninja" method="post" onsubmit="return confirm('Desea grabar el registro del Ninja?');">

            <div>
                <div><label for="dojo_ninja">Nombre del Dojo :</label></div>
                <div>
                    <select type="text" name="dojo_ninja" id="dojo_ninja">
                        {%for i in dojos%}
                          <option value="{{i.id}}">{{i.name}}</option>
                        {%endfor%}
                    </select>
                </div>
            </div>
  
            <div>
              <div><label for="nombre_ninja">Nombre del Ninja :</label></div>
              <div><input type="text" name="nombre_ninja" required placeholder="John"></div>
            </div>

            <div>
                <div><label for="apellido_ninja">Apellido del Ninja :</label></div>
                <div><input type="text" name="apellido_ninja" required placeholder="doe"></div>
            </div>

            <div>
                <div><label for="edad_ninja">Edad del Ninja :</label></div>
                <div><input type="text" name="edad_ninja" required placeholder="18"></div>
            </div>


            <div class="divboton">
                <button type="submmit">Crear Registro</button>
            </div>
          </form>

           </div>
        <div class="opciones">
           <div><a href="/limpiar">Regresar</a></div>
        </div>
{%endblock%}